@charset "utf-8";

html {
	background: #fafafa;
}

header.login {height: auto;}
header.login p {
	padding: 20px;
	text-align: center;
	color: #fff;
	font-size: 20px;
}
header.login h1 {
	position: static;
	padding: 50px;
	text-align: center;
	background: #fff;
	border-bottom: 1px solid #f4f4f4;
}
/* [S] login */
.loginWrap {
	width: 325px;
	height: 250px;
	margin: 50px auto;
}
.loginWrap h2 {
	text-align: center;
	font-size: 32px;
	margin-bottom: 25px;
	padding: 20px;
	color: #6b6b6b;
}
.loginWrap input[type="text"],
.loginWrap input[type="password"] {
	width: 313px;
	height: 30px;
	padding: 0 5px;
	line-height: 30px;
	font-size: 15px;
	border: 1px solid #f3f3f3;
}
.loginWrap #loginBtn {
	display: block;
	width: 325px;
	height: 46px;
	background: #2095f3;
	color: #fff;
	line-height: 46px;
	font-weight: bold;
	font-size: 20px;
}
.loginWrap p {
	margin: 10px 0;
}
.loginWrap label {
	display: inline-block;
	width: 100px;
	text-align: right;
}

/* member */

/* place */
section.members,
section.place {
	clear: both;
	overflow: hidden;
}
section.members > div,
section.place > div {
	overflow: hidden;
	background: #f5f5f5;
	min-height: 100%;
}
.tabMenu {
	width: 50%;
	background: #fff;
}

.leftWrap {
	position: relative;
	float: left;
	width: 330px;
	background: #383838 !important;
	color: #fff;
}
.leftWrap .tab {
	display: block;
	padding: 15px 30px;
	color: #fff;
	font-size: 18px;
	font-weight: bold;
}
.radixSel {
	display: none;
	position: absolute;
	top: 55px;
	right: 1px;
	width: 100px;
	background: #fff;
	z-index: 99
}
.radixSel a {
	display: block;
	padding: 10px;
	font-size: 14px;
}
.radixSel a:hover {color: #fff;}
.leftWrap .down {background: url("../image/btn_down.png") no-repeat 90% center #454545}
.leftWrap .up {background: url("../image/btn_up.png") no-repeat 90% center #454545}
.leftWrap .count {
	padding: 20px 30px;
	font-size: 15px;
}
.leftWrap .count li {margin-bottom: 7px;}
.leftWrap .count li:last-child {margin-top: 25px;}
.leftWrap .count span {float: right}
.leftWrap > p {
	height: 70px;
	padding: 0 30px;
	background: #454545;
	font-size: 20px;
	font-weight: bold;
	line-height: 70px;
}
.leftWrap > p span {float: right}
.memberList li a {
	display: block;
	height: 36px;
	padding: 20px;
	font-size: 14px;
	color: #fff;
}
.leftWrap strong {
	display: block;
	padding: 10px 30px;
	background: #454545;
}
.searchWrap {
	position: relative;
	height: 30px;
	padding: 20px 30px;
	text-align: center
}
.searchWrap input[type="text"] {
	width: 210px;
	height: 30px;
	padding-left: 15px;
	padding-right: 50px;
	line-height: 30px;
	border-radius: 30px;
	border: 0;
}
.searchWrap #searchBtn {
	position: absolute;
	bottom: 24px;
	right: 45px;
	width: 22px;
	height: 22px;
	background: url("../image/btn_search.png") no-repeat;
	border: 0;
	color: #fff;
	text-indent: -999em;
}
.searchWrap.member {
	height: auto;
	background: #454545;
}
.searchWrap.member strong {
	padding: 0;
	margin-bottom: 10px;
	background: none;
	font-size: 18px;
	text-align: left;
}
.leftWrap .photo {
	float: left;
	display: block;
	overflow: hidden;
	width: 47px;
	height: 47px;
	margin-top: -5px;
	margin-right: 10px;
	border-radius: 50%;
}
.leftWrap .photo img {
	width: 100%;
	height: 100%;
}
.memberAddBtn {
	position: absolute;
	right: 30px;
	top: 20px;
	color: #fff;
}
.memberAddBtn:hover {background: none!important}
.leftWrap a:hover {
	background-color: #5a5a5a;
	text-decoration: none;
}
.leftWrap a p {color: #b2b7bb;}

.memberInfo {
	display: none;
	width: 650px;
	margin: 0 auto;
}
.memberInfo article {	
	position: fixed;
	top: 70px;
	width: 650px;
	background: #fff;
	z-index: 99;
}
.memberInfo .bg {
	opacity: .2;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 1;
	width: 100%;
	height: 100%;
	background: #000;
}
.perInfo {background: #f8f8f8;}


.rightWrap .tab, 
.counter {
	margin: 0 auto;
	min-width: 850px;
	float: none;
	height: 60px;
	padding: 0 50px;
	background: #fff;
	border: 0;
	font-weight: bold;
	color: #666;
	line-height: 60px
}
.counter strong {
	float: left;
	margin-right: 40px;
}
.counter ul {float: left;}
.counter li {
	display: inline;
	margin-right: 20px;
}
.counter span {color: #65c6bb;}
.todaydate {float: right;}

.rightWrap .tab li {
	float: left;
	width: 50%;
	text-align: center;
}
.rightWrap .tab li:last-child:before {
	content: "|";
	float: left;
	color: #e4e4e4;
}
.rightWrap .tab a {
	display: block;
	height: 57px;
	padding: 0 30px;
	font-size: 15px;
}
.rightWrap .tab a:hover {text-decoration: none}
.rightWrap .tab .sel a {
	border-bottom: 3px solid #2095f3;
	color: #2b6f8e;
}
.mapWrap > div {
	position: relative;
	clear: both;
	overflow: hidden;
}
.mapWrap ul {float: left;}
.mapWrap ul.out {float: right;}
.mapWrap ul.out li {margin: 0;}
.mapWrap h2 {
	padding-left: 27px;
	margin-bottom: 10px;
	font-size: 17px;
	background: url("../image/icon_home.png") no-repeat 0 center;
}
.mapWrap .beaconList {
	width: 480px;
}
.mapWrap li {
	float: left;
	width: 160px;
	height: 185px;
}
.mapWrap strong {
	display: block;
	height: 25px;
	margin-bottom: 7px;
	border-bottom: 1px solid #f4f4f4;
}
.mapWrap span, 
.mapColor {color: #2095f3;}
.mapWrap p {
	position: relative;
	width: 150px;
	height: 150px;
	line-height: 140px;
	text-align: center;
	font-size: 50px;
	background: #f6f6f6;
}
.mapWrap p span {
	position: absolute;
	bottom: 5px;
	right: 5px;
	font-size: 14px;
	line-height: normal;
}
.mapWrap ul:first-child p {
	width: auto;
	padding: 0 30px 0 10px;
	font-size: 100px;
	font-weight: bold;
	background: none;
}
.addBeacon {
	position: absolute;
	top: 15px;
	right: 20px;
}
.beaconWrap {
	display: none;
	position: absolute;
	right: 50px;
	top: 0;
}
.beaconWrap .bg {
	opacity: .2;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 1;
	width: 100%;
	height: 100%;
	background: #000;
}
.beaconWrap .form {
	position: relative;
	margin: 0 auto;
	z-index: 99;
}
.beaconWrap dl {
	width: 200px;
	padding: 20px;
	background: #fff;
}
.beaconWrap input[type="text"] {
	width: 185px;
	padding: 5px;
}
#beaconAddBtn {
	width: 240px;
	padding: 10px;
	background: #2095f3;
	color: #fff;
}
.goout {
	background: #d0d0d0;
	color: #848484;
	font-weight: bold;
}

.scheduleWrap h3 {font-size: 18px;}
.scheduleWrap .time {
	border-bottom: 1px solid #f4f4f4;
	margin-bottom: 20px;
	padding-bottom: 20px;
}
.scheduleWrap > div {
	clear: both;
	overflow: hidden;
	margin-bottom: 100px;
}
.scheduleWrap h2 {
	margin-bottom: 10px;
	padding-left: 27px;
	font-size: 17px;
	background: url("../image/icon_sche.png") no-repeat 0 center;
}
.scheduleWrap > div > div, 
.scheduleCont {
	float: left;
	width: 50%;
}
.scheduleWrap strong {display: inline-block;}
.scheduleWrap > div > div > p {
	margin-left: 15px;
	font-weight: bold;
	font-size: 15px;
}
/* place */

/* 그래프 */
@keyframes bake-pie {
	from {
		transform: rotate(0deg) translate3d(0,0,0);
	}
}
.pieID {
	display: inline-block;
	vertical-align: top;
}
.pie {
	height: 200px;
	width: 200px;
	position: relative;
	margin: 0 30px 30px 0;
}
.pie::before {
	content: "";
	display: block;
	position: absolute;
	z-index: 1;
	width: 100px;
	height: 100px;
	background: #fff;
	border-radius: 50%;
	top: 50px;
	left: 50px;
}
.pie::after {
	content: "";
	display: block;
	width: 120px;
	height: 2px;
	background: rgba(0,0,0,0.1);
	border-radius: 50%;
	box-shadow: 0 0 3px 4px rgba(0,0,0,0.1);
	margin: 220px auto;
	
}
.slice {
	position: absolute;
	width: 200px;
	height: 200px;
	clip: rect(0px, 200px, 200px, 100px);
	animation: bake-pie 1s;
}
.slice span {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	background-color: black;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	clip: rect(0px, 200px, 200px, 100px);
}
.legend {
	list-style-type: none;
	padding: 0;
	margin: 0;
	padding: 15px;
	font-size: 13px;
}
.legend li {
	width: 110px;
	height: 1.25em;
	margin-bottom: 0.7em;
	padding-left: 0.5em;
	border-left: 1.25em solid black;
}
.legend em {
	font-style: normal;
}
.legend span {
	float: right;
}

/* notice */
.notice > article {margin: 0;}
section.notice {
	position: relative;
	width: 1000px;
	margin: 0 auto 100px;
	font-size: 16px;
}
section.notice h2 {
	padding: 20px 0;
	font-size: 25px;
}
ul.notice li {
	position: relative;
	margin-bottom: 10px;
	background: #fff;
	border: 1px solid #ededed;
}
ul.notice a.list {
	padding: 20px;
	display: block;
}
ul.notice a.list:hover {
	text-decoration: none;
	color: #000 !important;
	background: #fafafa;
}
ul.notice .cont {
	overflow: hidden;
	width: 800px;
	text-overflow: ellipsis;
	white-space: nowrap;
	word-wrap: normal
}
ul.notice a.deleteNotice {
	display: none;
	position: absolute;
	top: 10px;
	right: 10px;
	padding: 1px 3px;
	color: #ff0000;
}
ul.notice li:hover .deleteNotice {display: block;}
section.notice .searchWrap {
	position: absolute;
	right: 0;
	top: 0;
	width: 300px;
	padding-right: 0;
	background: none;
	text-align: right;
	border: 0;
}
section.notice .searchWrap input[type="text"] {
	border: 1px solid #d3d3d3;
}
section.notice .searchWrap #searchBtn {
	right: 20px;
}
.voteOn {
	position: absolute;
	right: 10px;
	top: 37px;
	display: block;
	width: 70px;
	height: 50px;
	margin-bottom: 10px;
	padding-top: 25px;
	background: url("../image/icon_check_blue.png") no-repeat center 0;
	color: #777;
	text-align: center;
}

.emailBtn, 
.writeBtn {
	display: block;
	width: 130px;
	height: 40px;
	margin: 50px auto;
	background: #2095f3;
	color: #fff;
	line-height: 40px;
	font-weight: bold;
	font-size: 16px;
	text-align: center;
}
.emailBtn:hover, 
.writeBtn:hover {text-decoration: none}
.paging {
	padding: 0;
	background: none;
	border: 0;
}
.paging ol {text-align: center;}
.paging li {
	display: inline;
	margin: 0 10px;
}
.paging a {font-size: 16px;}
.paging a.sel {
	color: #2095f3;
	font-weight: bold;
}

.writeDiv {
	width: 1000px;
	margin: 0 auto;
}
.writeWrap {
	display: none;
	position: fixed;
	top: 70px;
	padding-top: 60px;
}
.writeWrap textarea, 
.writeWrap input[type="text"] {
	padding: 5px;
	border: 1px solid #d7d7d7;
}
.writeWrap .left {
	float: left;
	width: 630px;
	height: 500px;
	padding: 50px;
	background: #fff;
}
.writeWrap .left dt {
	float: left;
	width: 80px;
	margin: 5px 0;
}
.writeWrap .left dd {
	float: left;
	width: 550px;
	margin: 5px 0;
}
.writeWrap .left textarea, 
.writeWrap .left input[type="text"] {width: 500px;}
.writeWrap .right {
	float: left;
	width: 200px;
	height: 500px;
	padding: 50px 35px;
	background: #454545;
	color: #fff;
}
#voteSubject {width: 190px;}
.writeWrap .right dd {
	margin: 5px 0 40px;
	font-size: 13px;
}
.writeWrap .right .fl {padding: 5px 0}
.writeWrap button {
	background: #cfcfcf;
	color: #fff;
}
.writeWrap .voteSetting {
	width: 60px;
	padding: 5px 0;
}
.voteSel {
	position: relative;
	width: 100%;
	margin-bottom: 5px;
	padding: 7px 0;
	color: #444;
	background: #cfcfcf;
	text-align: center;
	font-size: 13px;
}
.voteSel a {
	position: absolute;
	right: 2px;
	top: 0;
}
#voteAdd {
	width: 130px;
	border: 0;
}
.writeWrap .voteSelAdd {
	width: 55px;
	padding: 5px 0;
	background: #2095f3;
}
.writeWrap input[type="button"] {
	padding: 10px 50px;
	background: #2095f3;
	color: #fff;
}
.writeWrap .sel {background: #2095f3;}
.writeWrap > div {
	padding: 0;
	border: 0;
}
.writeWrap > div > div {
	position: absolute;
	bottom: 50px;
	left: 0;
	width: 730px;	
	text-align: center;
}
.writeWrap .bg {
	opacity: .3;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 1;
	width: 100%;
	height: 100%;
	background: #000;
}
.formWrap {
	clear: both;
	overflow: hidden;
	position: relative;
	z-index: 99;
}
#startDate, #endDate, #deadDate {width: 70px;}

.notice.view {
	color: #555;
	font-size: 14px;
}
.notice.view table {
	width: 100%;
}
.notice.view h3 {
	margin: 0;
	padding: 0;
}
.notice.view thead th {
	padding: 10px 0;
	background: #fafafa;
	border-top: 1px solid #ebebeb;
	border-bottom: 1px solid #ebebeb;
	font-weight: normal;
}
.notice.view thead th:first-child {width: 70%;}
.notice.view tbody td {
	padding: 10px 0;
	background: #fff;
	text-align: center;
}
.notice.view h3 {
	padding: 0 30px;
	text-align: left;
}
.notice.view .cont {
	padding: 30px;
	border: 0;
	border-top: 1px solid #ebebeb;
	background: #fff;
} 
.notice.view .cont > div {padding-left: 30px;}
.notice.view .cont strong {
	display: block;
	margin: 10px 0;
	font-size: 16px;
}
.notice.view .cont pre {
	margin-top: 30px;
	line-height: 160%
}
.notice.view .cont li {
	width: 200px;
	padding: 10px 20px;
	margin-bottom: 10px;
	background: #ededed;
}

.notice.view .cont > p {margin-bottom: 5px;}
.notice.view .cont em {
	float: left;
	display: block;
	width: 100px;
	font-weight: bold;
	margin-right: 20px;
}
.notice.view h4 {
	margin-top: 100px;
	padding: 10px 0 10px 30px;
	border-bottom: 1px solid #efefef;
	background: url("../image/icon_check_gray.png") no-repeat 0 center;
	font-size: 20px;
}
.notice.view .writeBtn {background: #5d5d5d;}
/* notice */

/* member */
.member > ul > li {
	position: relative;
	padding: 20px;
	margin-bottom: 10px;
	background: #fff;
	border: 1px solid #ededed;
}
.member h2 {margin-bottom: 10px}
.member h3 {
	font-size: 18px;
	color: #2095f3;
}
.member .point strong {color: #2095f3;}
.member .point {
	position: absolute;
	top: 30px;
	right: 10px;
}
.member .point li {
	float: left;
	margin: 0 20px;
	text-align: center;
}
.member .point p {padding-top: 20px}
/* member */

/* schedule */
section.schedule {
	position: relative;
	height: 100%;
}
section.schedule:after {
	content:"";
	display:block;
	clear:both;
}
.leftWrap2 {
	float: left;
	width: 100%;
	margin-right: -330px;
	background: #f5f5f5;
}
.leftWrap2 > div {margin-right: 330px}
.rightWrap2 {
	float: right;
	width: 250px;
	height: 100%;
	padding: 0 40px;
	background: #454545 !important;
	color: #fff;
}
.calHeader {
	padding: 20px 0;
	background: #fff;
	border-bottom: 1px solid #eee;
	font-size: 15px;
}
.calHeader button {
	width: 11px;
	height: 20px;
	text-indent: -999em;
}
.calHeader > div {float: left;}
.calHeader > p {
	margin-right: 172px;
	text-align: center
}
.calHeader > div > * {margin: 0 10px;}
#btnPrev {background: url("../image/btn_prev.png")}
#btnNext {background: url("../image/btn_next.png")}
#currentDate {font-weight: bold;}
#calendar table {
	width: 100%;
	text-align: center;
}
#calendar thead tr > * {
	padding: 15px;
	background: #fff;
	border-bottom: 1px solid #e1e1e1;
}
#calendar tbody tr > * {
	height: 60px;
	padding: 10px;
	background: #fff;
	border-right: 1px solid #e1e1e1;
	border-bottom: 1px solid #e1e1e1;
	vertical-align: top;
	text-align: left;
}
#calendar tbody tr > *:first-child {background: #d7d7d7;}
#calendar tbody tr > *:last-child {
	border-right: 0;
	background: #d7d7d7;
}
#calendar td.today {color: #2095f3;}
.notThisMonth {color: #aaa;}
.leftWrap2 article {
	width: 920px;
	padding-right: 330px;
	margin: 0 auto;
}
.leftWrap2 article li:first-child .date {color: #2095f3;}
.leftWrap2 article h2 {margin: 60px 0 30px}
.leftWrap2 article li {
	clear: both;
	overflow: hidden;
	padding: 10px 5px;
	border-bottom: 1px solid #ececec;
}
.leftWrap2 article p.date {
	float: left;
	width: 120px;
}
.leftWrap2 article p.cont span {
	float: right;
	width: 85px;
	text-align: right;
}
article.ago {margin-bottom: 100px;}
.leftWrap2 article.ago p {color: #8e8e8e !important;}



.rightWrap2 .searchWrap {
	padding: 20px 0 0;
	margin-bottom: 20px;
}
.rightWrap2 .searchWrap input[type="text"] {width: 185px;}
.rightWrap2 #searchBtn {
	bottom: 4px;
	right: 20px;
}
.rightWrap2 h2 {
	padding: 10px 0 10px 30px;
	margin-bottom: 10px;
	background: url("../image/icon_sche2.png") 0 center no-repeat;
	border-bottom: 1px solid #696969;
}
.rightWrap2 h2.vote {
	margin-top: 50px;
	background: url("../image/icon_check.png") 0 center no-repeat;
}
.rightWrap2 ul.vote li {
	clear: both;
	overflow: hidden;
	padding: 10px;
	margin-bottom: 10px;
	border: 1px solid #fff;
}
.rightWrap2 ul.vote li span {
	float: left;
	display: block;
	width: 10px;
	height: 10px;
	margin: 5px 10px 0 0 ;
	border-radius: 50%;
	background: #2095f3;
}
.rightWrap2 ul.vote li:nth-child(1) span {background: #2095f3;}
.rightWrap2 ul.vote li:nth-child(2) span {background: #ff6246;}
.rightWrap2 ul.vote li:nth-child(3) span {background: #d1d1d1;}
.rightWrap2 ul.vote li:nth-child(4) span {background: #929292;}
.rightWrap2 ul.vote li em {float: right;}
.rightWrap2 .pie::before {background: #454545;}
p.dateHeader {
	font-size: 15px;
	margin-bottom: 10px;
}
p.noSche {
	padding: 70px 0;
	margin-top: 30px;
	text-align: center;
	border: 2px dashed #969696;
	border-radius: 5px;
	color: #969696;
}
.scheWrap .writeBtn {width: auto;}